.bannercarousal {
	display: flex;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 50px auto 0px;
	height: 400px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	/* transform: translateX(); */
	.slide {
		position: relative;
		transition: all .3s ease-in-out;
		width: 100%;
		flex-basis: 100%;
	}
	.slider-nav {
		position: absolute;
		bottom: 0;
		background-color: #ffffff61;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		padding: 10px 0;
		button {
			background-color: #10090a;
			border: none;
			color: #fff;
			font-size: 16px;
			line-height: 20px;
			padding: 6px 20px;
			border-radius: 50px;
		}
	}
}