.bannercarousal {
	display: flex;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: 376px;
	/* transform: translateX(); */
	.slide {
		position: relative;
		transition: all .3s ease-in-out;
		width: 100%;
		flex-basis: 100%;
		height: 376px;
		img.itemImg {
			width: 100%;
		}
		.textWrapper {
			position: absolute;
			top: 0;
			width: 50%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding: 0 0 0 100px;
			background-color: #8383e9;
			clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
			gap: 20px;
			p.heading {
				font-size: 30px;
				line-height: 36px;
				margin: 0;
				font-weight: bold;
				color: #fff;
			}

			p.subHeading {
				font-size: 20px;
				line-height: 24px;
				color: #f8f8f8;
				margin: 0;
			}

			.itemCta {
				background-color: #fff;
				color: #8383e9;
				border: none;
				border-radius: 16px;
				padding: 10px 20px;
				font-size: 18px;
				line-height: 20px;
				font-weight: bold;
			}
		}
	}
	.slider-nav {
		position: absolute;
		bottom: 0;
		background-color: #ffffff61;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		padding: 10px 0;
		button {
			background-color: #10090a;
			border: none;
			color: #fff;
			font-size: 16px;
			line-height: 20px;
			padding: 6px 20px;
			border-radius: 50px;
		}
	}
}