[data-block-name="videocontainer"] {
	max-width: 1120px;
	margin: 0 auto;
	padding: 48px 0 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0 86px;
	.videoMain {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 20px;
		.heading {
			font-size: 24px;
			line-height: 30px;
			margin: 0px;
			font-weight: bold;
		}
		.subHeading {
			font-size: 16px;
			line-height: 20px;
			margin: 0px;
			font-weight: normal;
		}
		.readMore {
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
			color: #3072AF;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.heroImage {
		grid-column: 2/3;
		grid-row: 1/2;
		width: 100%;
	}
}