.navlinksheader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 20px;
	background-color: #fff;
	box-shadow: 0px 0px 11px 2px #cccccc69;
	.logo {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 20px;
		img.menuIcon {
			width: 40px;
			height: 40px;
			margin: 0;
			cursor: pointer;
		}

		img.logo {
			width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.menuWrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0 30px;
		ul.navLinks {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 15px;
			list-style: none;
			margin: 0;
			padding: 0;
			li.navItem {
				font-size: 14px;
				line-height: 18px;
			}
		}
		.userLogin {
			img.userLog {
				width: 52px;
				height: auto;
			}
		}
	}
}
header.header-wrapper {
	display: none;
}