.customfooter-wrapper {
	overflow: hidden;
}

[data-block-name="customfooter"] {
	max-width: 1120px;
	margin: 0 auto;
	display: grid;
	padding: 48px 0 0px;
	grid-template-columns: repeat(4, 1fr);
	.footerCol {
		display: flex;
		flex-direction: column;
		flex-basis: 25%;
		&[data-order="1"] {
			grid-column: 1/2;
			grid-row: 1/2;

		}
		&[data-order="2"] {
			grid-column: 1/2;
			grid-row: 2/3;
		}
		&[data-order="3"] {
			grid-column: 2/3;
			grid-row: 1/2;

		}
		&[data-order="4"] {
			grid-column: 2/3;
			grid-row: 2/3;

		}
		&[data-order="5"] {
			grid-column: 3/4;

		}
		&[data-bottom-footer="true"] {
			grid-column: 1 / 6;
			display: flex;
			background: transparent linear-gradient(267deg, #583C83 0%, #2E629F 100%) 0% 0% no-repeat padding-box;
			color: #fff;
			padding: 20px 0;
			margin: 20px 0 0 0;
			position: relative;
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background: transparent linear-gradient(267deg, #583C83 0%, #2E629F 100%) 0% 0% no-repeat padding-box;
				bottom: 0;
			}
			&::before {
				left: -100%;
                rotate: 180deg;
			}
			&::after {
				right: -100%;
				rotate: -180deg;
			}
			.bottomFooter {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 40px;
				p.footerTxt {
					font-size: 16px;
					line-height: 20px;
					margin: 0;
					white-space: nowrap;
					&:nth-child(1) {
						flex-basis: 100%;
					}
				}
			}

		}
		p.heading {
			font-size: 18px;
			line-height: 30px;
			margin: 0;
			font-weight: bold;
			color: #000;
		}
		ul.navLinks {
			margin: 0;
			list-style: none;
			padding: 0;
			display: flex;
			flex-direction: column;
			gap: 6px;
			li.navItem {
				font-size: 16px;
				line-height: 20px;
				margin: 0;
				font-weight: 400;
				a{
					font-weight: bold;
					font-size: 16px;
					line-height: 20px;
					margin: 0;
					color: #3072AF;
				}
			}
		}
		.iconsWrapper {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 10px;
			img.icons {
				width: 32px;
				height: 32px;
				display: flex;
				align-items: center;
				justify-content: center;
				object-fit: none;
			}
		}
	}
}